@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css");
@import url("https://rsms.me/inter/inter-ui.css");

/**
 * Generic
 * ====================================
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  color: #313C47;
  font: 1rem/1.5555555556 "Inter UI", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/**
 * Elements
 * ====================================
 */

h1, h2, h3, h4, h5, h6,
ul, ol,
p {
  margin-top: 0;
}

img,
svg {
  vertical-align: top;
}

/**
 * Container
 * ====================================
 */

.l-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.778rem; /* 32px */
  padding-left: 1.778rem; /* 32px */
}

/*
- Small devices (landscape phones): 576px and up
- Medium devices (tablets): 768px and up
- Large devices (desktops): 992px and up
- Extra large devices (large desktops): 1200px and up
*/

/* 576px */

@media only screen and (min-width: 32rem) {
  .l-container {
    max-width: 30rem; /* 540px */
  }
}

/* 768px */

@media only screen and (min-width: 42.67rem) {
  .l-container {
    max-width: 40rem; /* 720px */
  }
}

/* 992px */

@media only screen and (min-width: 55.11rem) {
  .l-container {
    max-width: 53.33rem; /* 960px */
  }
}

/* 1200px */

/* @media only screen and (min-width: 66.67rem) {
  .l-container {
    max-width: 63.33rem; 1140px
  }
} */

/**
 * Lead Paragraphs
 * ====================================
 */

.c-lead {
  font-size: 1.222rem; /* 22px */
  line-height: 1.4545454545;
}

/**
 * Page
 * ====================================
 */

.o-page {
  display: grid;
  grid-template-areas: "nav content";
  grid-template-columns: 15.56rem 1fr; /* 280px */
  height: 100vh;
}

.o-page__nav {
  grid-area: nav;
}

.o-page__content {
  grid-area: content;
}

/**
 * Navigation
 * ====================================
 */

.c-nav {
  display: grid;
  grid-template-rows: 4.889rem auto; /* 88px */
  height: 100vh;
  background-color: #313C47;
}

/* Header */

.c-nav__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 1.778rem; /* 32px */
  padding-left: 1.778rem; /* 32px */
  background-color: #313C47;
}

/* List */

.c-nav__list {
  margin-bottom: 0;
  padding-right: 1.778rem; /* 32px */
  padding-bottom: 0.8889rem; /* 16px */
  padding-left: 1.778rem; /* 32px */
  list-style-type: none;
  overflow-y: auto;
}

.c-nav__list--child {
  padding-top: 0.4444rem; /* 8px */
  padding-right: 0;
  padding-bottom: 0.8889rem; /* 16px */
  padding-left: 0.8889rem; /* 16px */
  overflow-y: visible;
}

.c-nav__item {
  font-weight: bold;
  font-size: 0.8333rem; /* 15px */
  line-height: 1.6; /* 24px */
}

.c-nav__list--child > .c-nav__item {
  margin-bottom: 0.4444rem; /* 8px */
  font-weight: normal;
}

.c-nav__list--child > .c-nav__item:last-child {
  margin-bottom: 0;
}

.c-nav__link {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
}

.is-active > .c-nav__link {
  color: #5CBCFC;
}

/**
 * Main
 * ====================================
 */

.c-main {
  height: 100vh;
  overflow: auto;
}

/**
 * Page Headers
 * ====================================
 */

.c-page-header {
  margin-bottom: 1.778rem; /* 32px */
  padding: 1.778rem; /* 32px */
  border-bottom: 1px solid #DCE2E8;
  background-color: rgba(255, 255, 255, .95);
}

.c-page-header__title {
  margin-bottom: 0;
  color: #9933CC;
  font-weight: 500;
  font-size: 1.222rem; /* 22px */
  line-height: 1.0909090909; /* 24px */
}

/**
 * Hero Sections
 * ====================================
 */

.c-hero {
  padding: 1.778rem; /* 32px */
}

.c-hero__title {
  color: #9933CC;
}

.c-hero__title:last-child {
  margin-bottom: 0;
}

/**
 * Color Swatches
 * ====================================
 */

.c-color-swatches {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: -16px;
  margin-left: -16px;
}

.c-color-swatches__swatch {
  width: 100px;
  margin-right: 16px;
  margin-bottom: 24px;
  margin-left: 16px;
  background-color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(49, 60, 71, 0.3);
}